<div class="t-hackcss-navigation">
  <h2 class="t-hackcss-navigation-heading">Menu</h2>

  <nav class="menu" role="menubar">
    {% assign url = page.url|remove:'index.html' %}
    {% for link in site.navigation %}
      <a class="menu-item {% if url == link.url %}active{% endif %}"
        role="menuitem" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}">
        {{ link.text }} <div class="pull-right">»</div>
      </a>
    {% endfor %}
  </nav>

  <blockquote>
    <p>
      尽吾志也而不能至者 <br />
      可以无悔矣
    </p>
  </blockquote>
</div>
