<!DOCTYPE html>
<html>

  {% include head.html %}


  {% if site.theme_mode == 'markdown' %}
  <body class="hack">
  {% elsif site.theme_mode == 'standard' %}
  <body class="standard">
  {% elsif site.theme_mode == 'dark' %}
  <body class="hack dark">
  {% endif %}

    {% include github-ribbon.html %}

    <div class="container">
      <div class="grid">
        <aside class="cell -2of12" role="navigation">
          {% include navigation.html %}
        </aside>

        <main class="cell -10of12">
          {{ content }}
        </main>
      </div>

    {% include footer.html %}

    </div>

    <script>
    (function () {
        var style = document.createElement("link");
        style.rel = "stylesheet";
        style.href  = "//cdn.bootcss.com/KaTeX/0.8.3/katex.min.css";
        document.getElementsByTagName("head")[0].appendChild(style);

        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src  = "//cdn.bootcss.com/KaTeX/0.8.3/katex.min.js";
        script.onload = function() {
            var nodisplay = document.querySelectorAll("script[type=\"math\/tex\"]");
            for(var _ in nodisplay) {
                var cur = nodisplay[_];
                if(!cur.innerHTML) continue;
                var p = document.createElement("span");
                katex.render(cur.innerHTML, p, {displayMode: false});
                if(!cur.nextSibling)
                    cur.parentNode.appendChild(p);
                else
                    cur.parentNode.insertBefore(p, cur.nextSibling);
            }

            var display = document.querySelectorAll("script[type=\"math\/tex; mode=display\"]");
            for(var _ in display) {
                var cur = display[_];
                if(!cur.innerHTML) continue;
                var p = document.createElement("span");
                katex.render(cur.innerHTML.replace(/%.*/g, ''), p, {displayMode: true});
                if(!cur.nextSibling)
                    cur.parentNode.appendChild(p);
                else
                    cur.parentNode.insertBefore(p, cur.nextSibling);
            }
        };
        document.getElementsByTagName("head")[0].appendChild(script);
    })();
    </script>
  </body>
</html>
